.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  margin-right: 5px;
}

#todo-adder {
  margin: 30px 0px;
}

#todo-displayer-title {
  font-weight: bold;
}

.todo {
  margin: 10px 0px;
}
