.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  margin-right: 5px;
}

#todo-adder {
  margin: 30px 0px;
}

#todo-displayer-title {
  font-weight: bold;
}

#todos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.even-row {
  background-color: slategrey;
}

.odd-row {
  background-color: darkgray;
}

.todo {
  width: 50%;
  padding: 5px 0px;

  display: flex;
  flex-direction: row;
}

.todo span {
  flex: 1;
}

.todo div {
  width: 10%;
}
